@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Pragati+Narrow:wght@400;700&family=Work+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    min-height: 100vh;
    background-color: black;
}

#navbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#logo {
    color: white;
    font-family: 'Pragati Narrow', sans-serif;
    padding: 0.6rem 2rem;
}

a:hover {
    transition-duration: 500ms;
    color: #a8ff57;
}