@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Pragati+Narrow:wght@400;700&family=Work+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    min-height: 100vh;
    background-color: black;
}

#loader {
    height: 100%;
    width: 100%;
    background: rgba(7, 7, 7, 0.84);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-loader {
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.logospin {
    height: 75px;
}

#search {
    height: 100vh;
    width: 100vw;
    background: rgba(7, 7, 7, 0.84);
    position: fixed;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

#contact {
    height: 100vh;
    width: 100vw;
    background: rgba(7, 7, 7, 0.84);
    position: fixed;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.contact-info {
    font-family: 'Pragati Narrow', sans-serif;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 1rem;
}

.close {
    position: fixed;
    top: 1rem;
    right: 2rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.search-bar {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search-bar form {
    height: 100%;
    width: 100%;
}

.search-bar input {
    height: 100%;
    width: 100%;
    background-color: #EAF0F0;
    color: black;
    padding: 3px;
    outline: none;
    font-size: 1.2rem;
    font-family: 'Pragati Narrow', sans-serif;
    border-radius: 3px;
}

#search-arrow {
    position: absolute;
    right: 7px;
    top: 9px;
    font-size: 1.3rem;
    cursor: pointer;
}

#navbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo-cont {
    display: inline-flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logo {
    height: 80px;
    margin-left: 1rem;
}

a:hover {
    transition-duration: 500ms;
    color: #a8ff57;
}

/* ------------------------------------------- Tablet Screens */

@media only screen and (max-width: 768px) {
    #navbar {
        display: flex;
        justify-content: center;
    }

    .logo {
        margin: 0;
    }

    .search-bar {
        width: 60%;
    }
}

/* ------------------------------------------- Mobile Screens */

@media only screen and (max-width: 480px) {

    .search-bar {
        width: 80%;
    }

    .contact-info {
        font-size: 1.2rem;
    }

}