/* #navbar{
    display: none;
} */

#nav-link-cont {
    padding: 1rem 2rem;
}

#nav-links {
    list-style: none;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Pragati Narrow', sans-serif;
    color: white;
    padding: 0.2rem 0;
}

/* ------------------------------------------- Tablet Screens */


@media only screen and (max-width: 768px) {
    #navbar {
        display: flex;
        justify-content: center;
    }

    .logo {
        margin: 0;
    }

    #nav-link-cont {
        display: flex;
        justify-content: center;
        text-align: center;
    }

}