{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Back To Front</title>
    <meta name="description" content="Base template" >
    <meta name="keywords" content="html template" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <script src="https://kit.fontawesome.com/36f60eb758.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}" ></script>

    {% block extra_css %}
    {% endblock %}
    {% load static %}
    
  </head>
  <body>

    <!-- Search Bar -->
    <div id="search">
      <div class='close' onclick="toggleSearch()">
        <i class="fa-solid fa-x"></i>
      </div>
      <div class="search-bar">
          <form method="POST" action="#">
              {% csrf_token %}
              <input type="search" name="searched">
              <button id="search-arrow" type="submit">
                <i class="fas fa-arrow-right"></i>
              </button>
          </form>
      </div>
    </div>

    <!-- Navigation -->
    <nav id="navbar">
      <div id="logo-cont">
            <a href="/">
              <img class="logo" src="{% static 'media/btflogo.png' %}" alt="back to front logo">
            </a>
      </div>
    </nav>
    <main>
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

  </body>

</html>