{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Back To Front</title>
    <meta name="description" content="Base template" >
    <meta name="keywords" content="html template" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <script src="https://kit.fontawesome.com/36f60eb758.js" crossorigin="anonymous"></script>

    {% block extra_css %}
    {% endblock %}

    
  </head>
  <body>

    <!-- Navigation -->
    <nav id="navbar">
      <div id="logo-cont">
            <a href="/">
              <img class="logo" src="{% static 'media/btflogo.png' %}" alt="back to front logo">
            </a>
      </div>
    </nav>
    <main>
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

  </body>

</html>