{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div>
    <!-- <div id="logo">
        <img class="homelogo" src="/static/media/btflogo.png" alt="back to front logo">
    </div> -->
    <div id="nav-link-cont">
        <ul id="nav-links">
            <li class="nav-link">
                <a href="{% url 'blog' %}">BLOG</a>
            </li>
            <li class="nav-link">
                <a href="{% url 'mixes' %}">MIXES</a>
            </li>
            <li class="nav-link">
                <a onclick="toggleSearch()">SEARCH</a>
            </li>
            <li class="nav-link">
                <a onclick="toggleContact()">CONTACT</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}